.card-container {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  width: 200px;
  min-height: 270px;
  min-width: 270px;
  max-width: 200px;
  background-color: #f1f1f1;
  margin: 20px;
  padding: 10px;
  flex-direction: 'column';
  flex: 1;
  
}

.description{
  
  padding-top: 40px;
  padding-bottom: 5px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.description p{
  
  padding: 4px 0px; 
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

