.home-page {
  display: flex;
  align-self: 'center';
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
  margin-left: 13%;
  margin-right: 13%;
  
}




