/* footer {
  background-color: #3C3C3C;
  color: #fff;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  padding: 20px;
  margin: auto;
  float: flex;
  margin-top: 3em;
  
} */

footer {
  color: #fff;
  background-color: #3c3c3c;
  padding-top: 2em;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.cont-foot {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.cont-foot-2 {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: 0% 13% 0% 13%;
}

.row {
  align-items: center;
  column-gap: 6em;
  align-items: center;
}

.col {
  align-self: flex-start;
  column-gap: 8em;
}

h5 {
  color: #919191;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #fd686e;
  text-decoration: underline;
}

li, ul{
  text-decoration: none;
}

.icons {
  align-self: flex-start;
  padding: 3px;
  position: relative;
  gap: 2%;
}

.col-pag {
  justify-content: space-around;
  column-gap: 1em;
  margin-left: 2em;
  flex-direction: column;
  padding: 3px;
}

.col-pag-icons {
  align-items: center;
  justify-content: center;
  margin-left: 15%;
}


