/* footer {
  background-color: #3C3C3C;
  color: #fff;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  padding: 20px;
  margin: auto;
  float: flex;
  margin-top: 3em;
  
} */

footer {
  color: #fff;
  background-color: #3c3c3c;
  padding-top: 2em;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.row {
  align-items: flex-start;
}

.col {
  align-self: flex-start;
}

h5 {
  color: #919191;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #fd686e;
  text-decoration: underline;
}

li, ul{
  text-decoration: none;
}





